@{
	ViewBag.Title = "About";
}


<br />
<div class="content">
	<div class="card card-default col-6 offset-3">
		<div class="card-body">
			<div class="row">
				<div class="col text-center">
					<h1><span style="font-size: 85px"><i class="fas fa-money-bill-wave"></i> Virtual<b>Wallet</b></span></h1>
					<h3><span style="font-size: 60px">By Wade Cranford</span></h3>
					<h5><a href="https://wc-portfolio.netlify.app" target="_blank"><span style="font-size: 30px">My Portfolio</span></a></h5>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<h4><span style="font-size: 45px">Made With:</span></h4>
				</div>
			</div>
			<div class="row">
				<div class="offset-3">

					<ul style="font-size: 30px">
						<li>.NET</li>
						<li>C#</li>
						<li>HTML/CSS/JS</li>
					</ul>
				</div>
				<div class="col-4">
					<ul style="font-size: 30px">
						<li>MVC 5</li>
						<li>SQL Server</li>
						<li>Admin LTE</li>
					</ul>

				</div>
			</div>
		</div>
	</div>
</div>
